#egipet{
    background-color: darksalmon;
}

#nikolai{
    background-color: burlywood;
}

#loona{
    background-image: url(https://media1.tenor.com/m/zoqoNLiPu2MAAAAC/loona-helluva-boss-loona.gif);
}

#bfc{
    background-color: darksalmon;
}